/* Ableton Sans Font Faces */
@font-face {
    font-family: 'AbletonSans';
    src: url('https://cdn.jsdelivr.net/gh/teamallnighter/abletonSans@latest/abletonSans/AbletonSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'AbletonSans';
    src: url('https://cdn.jsdelivr.net/gh/teamallnighter/abletonSans@latest/abletonSans/AbletonSans-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'AbletonSans';
    src: url('https://cdn.jsdelivr.net/gh/teamallnighter/abletonSans@latest/abletonSans/AbletonSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'AbletonSans';
    src: url('https://cdn.jsdelivr.net/gh/teamallnighter/abletonSans@latest/abletonSans/AbletonSans-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'AbletonSans';
    src: url('https://cdn.jsdelivr.net/gh/teamallnighter/abletonSans@latest/abletonSans/AbletonSans-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'AbletonSans';
    src: url('https://cdn.jsdelivr.net/gh/teamallnighter/abletonSans@latest/abletonSans/AbletonSans-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'AbletonSans';
    src: url('https://cdn.jsdelivr.net/gh/teamallnighter/abletonSans@latest/abletonSans/AbletonSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'AbletonSans';
    src: url('https://cdn.jsdelivr.net/gh/teamallnighter/abletonSans@latest/abletonSans/AbletonSans-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'AbletonSans';
    src: url('https://cdn.jsdelivr.net/gh/teamallnighter/abletonSans@latest/abletonSans/AbletonSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'AbletonSans';
    src: url('https://cdn.jsdelivr.net/gh/teamallnighter/abletonSans@latest/abletonSans/AbletonSans-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'AbletonSansBold';
    src: url('https://cdn.jsdelivr.net/gh/teamallnighter/abletonSans@latest/abletonSans/AbletonSansBold-Regular.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'AbletonSansLight';
    src: url('https://cdn.jsdelivr.net/gh/teamallnighter/abletonSans@latest/abletonSans/AbletonSansLight-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'AbletonSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/teamallnighter/abletonSans@latest/abletonSans/AbletonSansMedium-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}